<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Holiday42</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Sing in</a>
        <a class="mdl-navigation__link" href="">Sign up</a>
        <a class="mdl-navigation__link" href="">Help</a>
      </nav>
    </div> 
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Holiday42</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Book a Flight</a>
      <a class="mdl-navigation__link" href="">Book a Hotel</a>
      <a class="mdl-navigation__link" href="">Book a Package</a>
      <a class="mdl-navigation__link" href="">Your Bookings</a>
    </nav>
  </div>


<div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
      <main class="mdl-layout__content">
        
        <flight-search></flight-search>


      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
</div>